.navbar {
    background: #789;
    padding: 1rem;
    margin-bottom: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 500;
}

.navbar a:hover {
    color: lightgreen;
}

body {
    background-color: #f8f9ff;
}

.container {
    max-width: 1140px;
}
