<h1>Movie Search</h1>

<form method="GET">
    <input type="text" name="q" value="{{ query }}">
    <button type="submit">Search</button>
</form>

<hr>

{% if movies %}
    {% for movie in movies %}
        <div style="margin-bottom:20px;">
            <h3>{{ movie.Title }}</h3>
            <p>{{ movie.Year }}</p>

            {% if movie.Poster and movie.Poster != "N/A" %}
                <img src="{{ movie.Poster }}" width="120">
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No results found</p>
{% endif %}